.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid black;
    border-radius: 10px;
    
}
button{
    font-size: 40px;
    background-color: rgb(189, 199, 199);
    width: 102px;
    height: 58px;
    border-radius: 10px;
    


}
.calculator{
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(252, 238, 217);
    padding: 10px;

}
h1{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
